<footer class="footer footer-default margin-bot">
    <div class="container">
  
      <div class="copyright float-right min-text">
        
        <i class="material-icons">apps</i> 
        Desenvolvido by <a href="https://www.linkedin.com/in/gerson-crisostomo-62057865/">webDev</a>
                Todos os Direitos Reservados | Copyright ® 
      </div>
  
    </div>
  </footer>

  <!--
    
        <img _ngcontent-vpq-c14="" alt="angular" class="docs-footer-angular-logo" src="../assets/img/logo_bi_final.png">
        Desenvolvido by GersonDev <br>
        Todos os Direitos Reservados | Copyright ® 
  -->