* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .columnUaiTwo {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .rowUai:after {
    content: "";
    display: table;
    clear: both;
  }

  p.ex1 {
    max-height: 50px;
  }

  .section {
    padding: 20px 0;
}

