<div class="section page-header header-filter" id="inicial" data-parallax="true"
  style="background-image: url('../assets/img/imagens_tiago/home/CAPA.png')">
  <div class="container">

    <div class="row">
      <div class="col-md-5 ml-auto">


        <h2 class="title">Soluções Práticas e Personalizadas para você</h2>
        <h4>
          Nosso objetivo é levar, aos nossos clientes, nossa
          expertise de quase <strong><b>30 ANOS DE MERCADO</b></strong>. Com a implantação
          de metodologias e ferramentas de gestão
          para obter a <strong><b>
              MAXIMIZAÇÃO DE RESULTADOS.
            </b> </strong>
        </h4>
        <br>
        <a href="contato">
          <button type="button" style="border-radius: 20px;" class="btn btn-danger btn-block">Faça seu
            orcamento</button>
        </a>
      </div>
      <div class="col-md-5 ml-auto">
      </div>
    </div>
    <br>


  </div>
</div>
<div class="main main-raised">


  <!-- Init Freature 1 -->
  <div class="container">

    <!-- Init Carousel Card -->
    <div class="section">
      <!--id="carousel"-->

      <div class="container">
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <!-- Carousel Card -->
            <div class="card card-raised card-carousel">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">

                  <!--IMAGEM 1 DO SLIDE-->
                  <div class="carousel-item">

                    <ng-container>
                      <img [src]="img_carrossel_1" class="d-block w-100" alt="First slide">
                    </ng-container>


                    <div class="carousel-caption d-none d-md-block">
                      <h4>
                        <i class="material-icons">.</i> ..
                      </h4>
                    </div>
                  </div>

                  <!--IMAGEM 2 DO SLIDE-->
                  <div class="carousel-item">
                    <ng-container>
                      <img [src]="img_carrossel_2" class="d-block w-100" alt="Second slide">
                    </ng-container>
                    <div class="carousel-caption d-none d-md-block">
                      <h4>
                        <i class="material-icons">.</i> ..
                      </h4>
                    </div>
                  </div>

                  <!--IMAGEM 3 DO SLIDE     UM DOS SLID TEM QUE TER ESTE    'active' PARA PODER FUNCIONAR O CORROSSEL-->
                  <div class="carousel-item active">
                    <ng-container>
                      <img [src]="img_carrossel_3" class="d-block w-100" alt="Third slide">
                    </ng-container>
                    <div class="carousel-caption d-none d-md-block">
                      <h4>
                        <i class="material-icons">.</i> ..
                      </h4>
                    </div>
                  </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <i class="material-icons">keyboard_arrow_left</i>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <i class="material-icons">keyboard_arrow_right</i>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section text-center" id="solucoes">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <!--<h2 class="title">Características sobre o produto</h2>-->
          <h4 class="description">
            O nosso software tem como caracteristica principal
            <strong>aperfeiçoar a gestão</strong> e, consequentemente, auxiliar as instituições a atingirem seus objetivos
            e metas.

          </h4>
        </div>
      </div>
      <div class="features">
        <h2 class="title">Soluções em Software</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <a href="desc_med">
                <div class="icon icon-success">
                  <i class="material-icons">opacity</i>
                </div>

                <h4 class="info-title">Clínicas</h4>
                <p></p>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <a href="desc_med">
                <div class="icon icon-danger">
                  <i class="material-icons">add_comment</i>
                </div>
                <h4 class="info-title">Hospitalar</h4>
                <p></p>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <a href="desc_comercial">
                <div class="icon icon-info">
                  <i class="material-icons">business</i>
                </div>
                <h4 class="info-title">Comercial</h4>
              </a>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Init Project -->
    <div class="section" id="projects">
      <div class="projects-4" id="projects-4">
        <div class="container">
          <!--
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Características</h2>
            <h5 class="description"> .</h5>
            <div class="section-space"></div>
          </div>
        </div>-->
          <div class="row">
            <div class="col-md-5 ml-auto">
              <div class="card card-background"
                style="background-image:url('./assets/img/examples/clinica33.jpg');height: 330px">
                <a href="#pablo"></a>
              </div>
            </div>
            <div class="col-md-5 mr-auto">
              <div class="info info-horizontal">
                <div class="icon icon-info">
                  <i class="material-icons">all_inbox</i>
                </div>
                <div class="description">
                  <h4 class="info-title">Controle de Estoque</h4>
                  <p class="description">
                    Movimentação de produtos, relatórios, inventário...
                  </p>
                </div>
              </div>
              <div class="info info-horizontal">
                <div class="icon icon-primary">
                  <i class="material-icons">attach_money</i>
                </div>
                <div class="description">
                  <h4 class="info-title">Financeiro</h4>
                  <p class="description">
                    Contas a pagar, receber, controle bancário...
                  </p>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-5 ml-auto">
              <div class="info info-horizontal">
                <div class="icon icon-rose">
                  <i class="material-icons">timeline</i>
                </div>
                <div class="description">
                  <h4 class="info-title">Laboratório</h4>
                  <p class="description">
                    Resultado de exames, controle de entrega, estatísticas...
                  </p>
                </div>
              </div>
              <div class="info info-horizontal">
                <div class="icon icon-success">
                  <i class="material-icons">code</i>
                </div>
                <div class="description">
                  <h4 class="info-title">Atendimento Médico</h4>
                  <p class="description">
                    Prescrição Eletrônica, receituário, pedido de exames, encaminhamento, atestados, anamnese...
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-5 mr-auto">
              <div class="card card-background"
                style="background-image:url('./assets/img/examples/clinica333.jpg');height: 330px">
                <a href="#pablo"></a>

              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-5 ml-auto">
              <div class="card card-background"
                style="background-image:url('./assets/img/imagens_tiago/home/nfce_site2.jpg');height: 330px">
                <a href="#pablo"></a>
              </div>
            </div>
            <div class="col-md-5 mr-auto">
              <div class="info info-horizontal">
                <div class="icon icon-info">
                  <i class="material-icons">developer_board</i>
                </div>
                <div class="description">
                  <h4 class="info-title">NFe / NFCe / Sintegra / SPED</h4>
                  <p class="description">
                    Emissão de Nota Fiscal, Nota Fiscal de Consumidor Eletrônica, Geração de Sintegra e SPED.
                  </p>
                </div>
              </div>
              <div class="info info-horizontal">
                <div class="icon icon-primary">
                  <i class="material-icons">code</i>
                </div>
                <div class="description">
                  <h4 class="info-title">NFSe</h4>
                  <p class="description">
                    Emissão de Nota de Serviço, geração de lotes para o site da prefeitura de Montes Claros-MG...
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--PARCEIROS-->
    

    <!-- End Time -->


    <!-- Finish Section AlbumCard -->

  </div>

  <!-- Init Section Contato -->
  <app-component-contato></app-component-contato>

  <!-- End Section Contato -->

</div>