.map-container-5 {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-5 iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.margin-left-custom {
        margin-left: 20px;
}