<div class="contactus-1 section section-image" id="contato"
  style="background-image: url('./assets/img/profile_city.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-5 ml-auto">
        <h2 class="title">Contato</h2>
        <h5 class="description" style="color: black">Nos temos o suporte técnico para sanar suas dúvidas e resolver
          seus problemas. <br>Boa Ideia fica feliz em atendê-lo.</h5>
        <div class="row">
          <div class="col-md-2">
            <div class="icon icon-danger" style="margin-top: 15px">
              <i class="material-icons">pin_drop</i>
            </div>
          </div>
          <div class="col">

            <div class="description" style="color: black">
              <h4 class="info-title">Encontre-nos no escritório</h4>

              <p> Rua Irmã Beata, 57C
                <br> 39400-101 Centro,
                <br> Montes Claros - MG
              </p>

              <div class="description" style="color: black">
                <a href="mailto:boaideia@boaideianet.com.br&amp;subject=Contato site"
                  style="color: black">boaideia@boaideianet.com.br</a>
              </div>

            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-md-2">
              <div class="icon icon-danger" style="margin-top: 15px">
                <i class="material-icons">phone</i>
              </div>
            </div>
            <div class="col">
              <div class="description" style="color: black">
                <h4 class="info-title">Telefone</h4>
                <strong>
                  <p> Recepção
                    <br> +55 (38) 3221-8277
                  </p>
                  <p> Plantão
                    <br>
                    <a
                      href="https://api.whatsapp.com/send?phone=5538984069498&text=Oi.%20Gostaria%20de%20um%20atendimento.">
                      <button class="btn btn-success btn-round btn-sm">
                        <i class="fa fa-whatsapp"></i> &nbsp; +55 (38) 98406-9498
                      </button>
                    </a>
                    <!--          <a class="nav-link" href="https://api.whatsapp.com/send?phone=5538984069498&text=Oi.%20Gostaria%20de%20um%20atendimento." rel="tooltip" title="" data-placement="bottom" target="_blank"
            data-original-title="Entre em contato agora">
            <i class="fa fa-whatsapp"></i>
          </a>-->
                  </p>
                </strong>



              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Google map-->
      <div class="col-md-6 mb-4">
  
          <!--Card-->
          <div class="card card-cascade narrower">
      
            <!--Card image-->
            <div class="view view-cascade gradient-card-header peach-gradient">
              <h5 class="mb-0 margin-left-custom">Boa Ideia Consultoria & Informática</h5>
            </div>
            <!--/Card image-->
      
            <!--Card content-->
            <div class="card-body card-body-cascade text-center">
      
              <!--Google map-->
              <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 400px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d3882.000472545978!2d-43.87112857716301!3d-16.721999775745957!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xab535577ae1d79%3A0x61e69a475ed69c69!2sR.%20Irm%C3%A3%20Beata%2C%2057%20-%20Centro%2C%20Montes%20Claros%20-%20MG%2C%2039400-110!5e1!3m2!1spt-BR!2sbr!4v1566592135046!5m2!1spt-BR!2sbr" frameborder="0"
                  style="border:0" allowfullscreen></iframe>

                  
                  
      
      
            </div>
            <!--/.Card content-->
      
          </div>
          <!--/.Card-->
      
        </div>

    
    </div>
  </div>
</div>
</div>
