<div class="page-header header-filter" data-parallax="true"
    style="background-image: url('../assets/img/profile_city.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-8 ml-auto mr-auto">
          <form class="form" method="" action="">
            <div class="card card-login card-hidden">
              <div class="card-header card-header-danger text-center">
                <h4 class="card-title">Login</h4>
              </div>
              <div class="card-body ">
                <span class="bmd-form-group">
                  <br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Usuário" [(ngModel)]="usuario" name="usuario" required>
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control"  [(ngModel)]="password" name="password" placeholder="Senha" required (keyup)="onKey($event)">
                  </div>
                </span>
              </div>
              <div class="card-footer justify-content-center">
                <a class="btn btn-danger btn-link btn-lg" (click)="logOn()">Entrar</a>
              </div>
              <br>
            </div>
          </form>
        </div>
      </div>
 </div>
</div>
