<div class="section page-header header-filter" id="inicial" data-parallax="true"
  style="background-image: url('../assets/img/comercial2.jpg')">
  <div class="container text-center">

    <h1 class="title">Software Comercial</h1>
    
    <br>


  </div>
</div>

<div class="main main-raised">


  <!-- Init Freature 1 -->
  <div class="container">
    <div class="section text-center" id="features" *ngIf="print">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">Software Comercial</h2>
          <h5 class="description">_</h5>
        </div>
      </div>
      <div class="features">
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-info">
                <i class="material-icons">business</i>
              </div>
              <h4 class="info-title">Comercial</h4>
              <p>_</p>
            </div>
          </div>
          <div class="col-md-4">
          </div>

        </div>
      </div>
    </div>

    <!-- Init Freature 2 -->
<br><br><br>
    <div class="features-5 text-center" style="background-image: url('./assets/img/bg9.jpg')">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Características</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger text-center">
                <i class="material-icons">account_box</i>
              </div>
              <h4 class="info-title text-center">Cadastro de Clientes</h4>
              <p class="t-just"> Projetado especificamente para atender
                 às necessidades das rotinas 
                 diárias de qualquer empresa. Nosso 
                 programa de cadastro de clientes 
                 fornece cadastro completo de escolha 
                 para os clientes, consultas sejam 
                 pessoas físicas ou jurídicas, relatórios 
                 sobre os períodos de vendas, pagamentos, 
                 atendimentos e muito mais.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">assessment</i>
              </div>
              <h4 class="info-title">Orçamentos e Vendas</h4>
              <p class="t-just">Oferece em seu sistema ERP um conjunto 
                de recursos que dinamizam a leitura e 
                o entendimento do setor desde orçamentos, 
                vendas, nota fiscal eletrônica, lançamento 
                e gerenciamento de comissões e impressão de 
                cupom fiscal de balcão até as vendas, feitas
                 no dia a dia comercial.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">list_alt</i>
              </div>
              <h4 class="info-title">Emissão de Boletos</h4>
              <p class="t-just">Controle todos os boletos emitidos por sua 
                empresa e acompanhe cada pagamento feito por
                 seu cliente através desta ferramenta. A 
                 tecnologia garante maior agilidade já que 
                 configura todos os dados a serem incluídos
                  no boleto de uma única vez. 
                  Assim todos os dados da venda são 
                  transferidos automaticamente para o 
                  boleto que será emitido para seu cliente, 
                  economizando um bom tempo com digitações 
                  desnecessárias e garantindo a agilidade ao
                   procedimento. 
                  </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">view_carousel</i>
              </div>
              <h4 class="info-title">Relatorios</h4>
              <p class="t-just">Como os módulos são integrados, esses 
                relatórios são capazes de refinar as 
                atividades de uma maneira única, permitindo 
                um controle preciso de todas as ações. 
                Assim, a empresa constrói um relacionamento 
                com o cliente pautado nas reais necessidades 
                dele e uma organização financeira ideal 
                para pensar no futuro com mais segurança.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">access_time</i>
              </div>
              <h4 class="info-title">SINTEGRA / SPED </h4>
              <p class="t-just">Essa escrituração dos documentos fiscais, 
                hoje em dia, é feita pelo SINTEGRA e/ou 
                pelo SPED e deve ser feita mensalmente, 
                assim como o Livro Registro de Entradas 
                e o Livro Registro de Saídas. Estes 
                arquivos são obrigatórios para todas as 
                empresas comerciais, para que prestem 
                conta de suas atividades às autoridades do fisco. </p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">attach_money</i>
              </div>
              <h4 class="info-title">Ordem De Serviço</h4>
              <p class="t-just">A Ordem de Serviço, ou podemos dizer "OS", 
                é um registro que a empresa que presta 
                serviços utiliza em um trabalho a ser 
                feito para o cliente. Este registro 
                contém informações específicas e estratégicas 
                da empresa. Poderá conter dados do cliente, 
                bem como, serviços executados, laudo técnico, 
                defeito apresentado, peças utilizadas, 
                valores cobrados e também campos para 
                assinaturas de reconhecimento que o 
                serviço foi prestado.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">view_carousel</i>
              </div>
              <h4 class="info-title">Controle Financeiro</h4>
              <p class="t-just">O sistema controla, simultaneamente, 
                todas as entradas e saídas financeiras 
                do negócio, agilizando a rotina do 
                empresário, que quer tudo em ordem e 
                em dia, sem dor de cabeça para isso.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">access_time</i>
              </div>
              <h4 class="info-title">Controle de Estoque</h4>
              <p class="t-just">Manter um estoque organizado, com valor 
                atualizado e sem brecha para prejuízos 
                é um dos grandes desafios de um bom 
                administrador. Porém, gerir este setor 
                pode ser uma tarefa extremamente 
                complicada sem o auxílio de um bom 
                software, de fácil interpretação e completo.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">attach_money</i>
              </div>
              <h4 class="info-title">Perfis de Acesso</h4>
              <p class="t-just">O sistema permite que você controle o 
                tipo de acesso de seus funcionários para 
                uso do software, sendo que você pode 
                configurar aquilo que cada um terá acesso. 
                Esta ferramenta garante uma melhor 
                otimização do serviço, que fica 
                delegado aos funcionários da empresa 
                de acordo com a designação.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">view_carousel</i>
              </div>
              <h4 class="info-title">NFe</h4>
              <p class="t-just">Emissão simples e rápida de notas
                 fiscais eletrônica, contando com
                  telas de fácil entendimento. 
                  Além da emissão de NF-e, através 
                  de uma mesma tela é possível gerar 
                  a carta de correção da nota fiscal, 
                  consultar o status da NFe na SEFAZ, 
                  inutilizar uma numeração, e cancelar 
                  a nota fiscal.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">access_time</i>
              </div>
              <h4 class="info-title">NFCe</h4>
              <p class="t-just">Emita nota fiscal do consumidor eletrônica, 
                podendo importar as informações de outros 
                lançamentos, como saída de mercadoria. 
                Em uma mesma tela, faça o cancelamento e 
                consulta da NFC-e. Use o sistema para fazer 
                inutilização de numeração.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">attach_money</i>
              </div>
              <h4 class="info-title">NFSe</h4>
              <p class="t-just">A nota fiscal de serviço eletrônica 
                é gerada para registrar prestações de 
                serviço, onde o imposto é devido ao 
                município, como em casos de transporte 
                municipal, por exemplo, onde em vez 
                de CT-e, é emitida a nota fiscal de 
                prestação de serviço de transporte, ou 
                simplesmente NFSe. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>


  </div>

  <!-- Init Section Contato 
    <app-component-contato></app-component-contato>-->
  <!-- End Section Contato -->


</div>