<div class="section page-header header-filter" id="inicial" data-parallax="true"
    style="background-image: url('../assets/img/imagens_tiago/20.png')">
    <div class="container text-center">

        <h1 class="title">Nossos Parceiros</h1>
        <h4>_</h4>
        <br>


    </div>
</div>
<div class="main main-raised">
    <div class="section text-center" id="team">
        <h2 class="title">Nossos Parceiros</h2>
        <div class="team">
            <div class="row">
                <div class="col-md-4">
                    <div class="team-player">
                        <div class="card card-plain">
                            <div class="col-md-6 ml-auto mr-auto">
                                <!--<img src="../assets/img/iury.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">-->
                                <img src="../assets/img/prontocor2.jpg" alt="Thumbnail Image"
                                    class="img-raised rounded-circle img-fluid">
                            </div>
                            <h4 class="card-title">Prontosocor
                                <br>
                                <small class="card-description text-muted">Referencial em pronto atendimento</small>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-player">
                        <div class="card card-plain">
                            <div class="col-md-6 ml-auto mr-auto">
                                <img src="../assets/img/taiobeiras2.jpg" alt="Thumbnail Image"
                                    class="img-raised rounded-circle img-fluid">
                            </div>
                            <h4 class="card-title">Hospital Santo Antônio
                                <br>
                                <small class="card-description text-muted">Taiobeiras</small>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-player">
                        <div class="card card-plain">
                            <div class="col-md-6 ml-auto mr-auto">
                                <img src="../assets/img/brasiliademinas2.jpg" alt="Thumbnail Image"
                                    class="img-raised rounded-circle img-fluid">
                            </div>
                            <h4 class="card-title">Hospital Brasilia de Minas
                                <br>
                                <small class="card-description text-muted">Brasilia de Minas</small>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-player">
                        <div class="card card-plain">
                            <div class="col-md-6 ml-auto mr-auto">
                                <!--<img src="../assets/img/iury.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">-->
                                <img src="../assets/img/alvaro.png" alt="Thumbnail Image"
                                    class="img-raised rounded-circle img-fluid">
                            </div>
                            <h4 class="card-title">Alvaro Auto Peças
                                <br>
                                <small class="card-description text-muted">Referencial em Auto</small>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-player">
                        <div class="card card-plain">
                            <div class="col-md-6 ml-auto mr-auto">
                                <img src="../assets/img//mitrax.png" alt="Thumbnail Image"
                                    class="img-raised rounded-circle img-fluid">
                            </div>
                            <h4 class="card-title">Mitrax Armações
                                <br>
                                <small class="card-description text-muted">Armações para sua Construção</small>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-player">
                        <div class="card card-plain">
                            <div class="col-md-6 ml-auto mr-auto">
                                <img src="../assets/img/sementes.jpg" alt="Thumbnail Image"
                                    class="img-raised rounded-circle img-fluid">
                            </div>
                            <h4 class="card-title">Sementes Tolentino
                                <br>
                                <small class="card-description text-muted">.</small>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<br>
<br>
<br>
<br>
        

    </div>
</div>
