<nav class="navbar navbar-transparent bg-danger navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="5"
  id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand">

         
        <p class="margin-custom-logo">Boa Ideia - Consultoria & Informática</p>

        <!--  <strong>{{home1}}<br>{{home2}}</strong>-->
        <!--   <img  alt="angular" class="d-inline-block align-top "  src="../assets/img/logo_boaideia.jpeg">-->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">
            <i class="material-icons">home</i> Inicial
          </a>
        </li>
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="material-icons">apps</i> Navegação
          </a>
          <div class="dropdown-menu dropdown-with-icons">

            <a routerLink="./desc_med" class="dropdown-item">
              <i class="material-icons">business</i> Sistema Hospitalar e<br> Clínicas
            </a>

            <a routerLink="./desc_comercial" class="dropdown-item">

              <i class="material-icons">store</i> Sistema Comercial
            </a>
            <a routerLink="./parceiros" class="dropdown-item">
              <i class="material-icons">people</i> Parceiros
            </a>
            <a href="contato" class="dropdown-item">
              <i class="material-icons">local_phone</i> Contato
            </a>
          </div>
        </li>
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="material-icons">cloud_download</i> Downloads
          </a>
          <div class="dropdown-menu dropdown-with-icons">

            <a class="dropdown-item" href="./assets/downloads/chat.rar" download="chat.rar" *ngIf="show">
              <i class="material-icons">chat</i> Boa Ideia - Chat
            </a>
            <a class="dropdown-item" href="./assets/downloads/InstaladorSuporteBoaIdeia.exe" download="InstaladorSuporteBoaIdeia.exe">
              <i class="material-icons">cast</i> Boa Ideia - Acesso Remoto
            </a>
            <a class="dropdown-item" href="./assets/downloads/winrar32.exe" download="winrar32.exe">
              <i class="material-icons">unarchive</i> Winrar 32
            </a>
            <a class="dropdown-item" href="./assets/downloads/winrar64.exe" download="winrar64.exe">
              <i class="material-icons">unarchive</i> Winrar 64
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tutoriais">
            <i class="material-icons">vpn_key</i> Área do Cliente
          </a>
        </li>
        <li *ngIf="isLoggin" class="nav-item">
          <a class="nav-link" href="/login" (click)="this.loginService.logout()">
            <i class="material-icons">reply</i> Sair
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            href="https://api.whatsapp.com/send?phone=5538984069498&text=Oi.%20Gostaria%20de%20um%20atendimento."
            rel="tooltip" title="" data-placement="bottom" target="_blank" data-original-title="Entre em contato agora">
            <i class="fa fa-whatsapp"></i>
          </a>
        </li>
        <!--<i class="fa fa-facebook-square"></i>-->
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/boaideianet/" rel="tooltip" title=""
            data-placement="bottom" target="_blank" data-original-title="Veja nosso Instagram">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!--
<div class="content">
  <div *ngIf="routeLoading" class="loading">
    <script type="text/javascript">
      alert('Olá mundo!');
    </script>
  </div>
  <router-outlet *ngIf="!routeLoading"></router-outlet>
</div>
-->
<router-outlet></router-outlet>

<app-footer></app-footer>
<!--<router-outlet></router-outlet>-->