<div class="page-header header-filter" data-parallax="true"
    style="background-image: url('../assets/img/clinica1.jpg');height: 200px">
    <div class="container">

    </div>
</div>
<div class="main main-raised">
    <div class="container">

        <!-- Titulo -->


        <div class="section text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Vídeos Tutorias Boa Ideia</h2>
                </div>
            </div>
        </div>

        <!-- End Titulo -->

        <!-- Init Tab -->

        <div class="card card-nav-tabs">
            <div class="card-header card-header-danger">
                <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#comercial"
                                    (click)="categoriaSelecionada('Comercial');filtroCategoriaSelecao('Todos','Comercial')"
                                    data-toggle="tab">
                                    <i class="material-icons">face</i> Comercial
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#clinica"
                                    (click)="categoriaSelecionada('Clínica');filtroCategoriaSelecao('Todos','Clínica')"
                                    data-toggle="tab">
                                    <i class="material-icons">chat</i> Clinica / Hospital
                                    <div class="ripple-container"></div></a>
                            </li>
                            <div class="form-inline ml-auto">
                                <label for="exampleInputEmail1">Filtre por uma categoria: </label>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#0" role="button"
                                        aria-haspopup="true" aria-expanded="false">{{categoriaModelo}}</a>
                                    <div class="dropdown-menu">
                                        <!--
                                        <a (click)="filtroCategoriaSelecao('')" class="dropdown-item">Todos</a>
                                        <a *ngFor="let cat of categoria | async"
                                            (click)="filtroCategoriaSelecao(cat.nome)"
                                            class="dropdown-item">{{cat.nome}}</a>-->
                                        <a class="dropdown-item">Todos</a>
                                    </div>
                                </li>
                            </div>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="card-body ">
                <div class="tab-content text-center">

                    <div class="ml-auto">
                        <span class="nav-item">
                            <input type="text" class="form-control" id="pesquisa" placeholder="Pesquise por um video">
                        </span>
                    </div>

                    <!-- Tab Videos Comercial -->

                    <div class="tab-pane active" id="comercial">

                        <div class="tab-content tab-space">


                            <div class="row">
                                <ng-container *ngFor="let post of posts | async">
                                    <div class="col-md-4">
                                        <div class="card card-profile">
                                            <div class="card-header card-header-image">
                                                <a href="#pablo">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe class="embed-responsive-item"
                                                            [src]="this.sanitizer.bypassSecurityTrustResourceUrl(post.link)"
                                                            allowfullscreen></iframe>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="card-body ">
                                                <h4 class="card-title">{{post.descricao}}</h4>
                                                <h6 class="card-category text-gray">{{post.categoria}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>

                        </div>
                    </div>


                    <!-- Tab Videos Clinica/Hospital -->
                    <div class="tab-pane" id="clinica">

                        <div class="tab-content tab-space">

                            <!-- Categorias Cadastros -->

                            <div class="row">
                                <ng-container *ngFor="let post of posts1 | async">
                                    <div class="col-md-4">
                                        <div class="card card-profile">
                                            <div class="card-header card-header-image">
                                                <a href="#pablo">
                                                    <div class="embed-responsive embed-responsive-16by9">
                                                        <iframe class="embed-responsive-item"
                                                            [src]="this.sanitizer.bypassSecurityTrustResourceUrl(post.link)"
                                                            allowfullscreen></iframe>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="card-body ">
                                                <h4 class="card-title">{{post.descricao}}</h4>
                                                <h6 class="card-category text-gray">{{post.categoria}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>


</div>