<div class="section page-header header-filter" id="inicial" data-parallax="true"
  style="background-image: url('../assets/img/imagens_tiago/4.jpg')">
  <div class="container text-center">

    <h1 class="title">Software Médico</h1>
   
    <br>


  </div>
</div>



<div class="main main-raised">
  <!-- Init Freature 1 -->
  <div class="container">
    <div class="section text-center" id="features">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">Software Médico</h2>

          <div class=" ff" style="text-align: justify;">
           
            <ul>
              <li><p>Reduz as taxas de absente&iacute;smo nas consultas e exames, atrav&eacute;s da otimiza&ccedil;&atilde;o do fluxo de agendamento e rotinas de confirma&ccedil;&atilde;o, proporcionando mais agilidade e efici&ecirc;ncia no atendimento.</p></li>
              <br>
              <li><p>Qualidade percebida pelo paciente no acolhimento: desde a chegada, sendo chamado por um sistema de som, com identifica&ccedil;&atilde;o biom&eacute;trica, at&eacute; a seguran&ccedil;a de seu prontu&aacute;rio eletr&ocirc;nico.</p></li>
              <br>
              <li><p>Reduz a probabilidade de erros m&eacute;dicos por meio do prontu&aacute;rio eletr&ocirc;nico do paciente, com acesso f&aacute;cil, r&aacute;pido a todas as informa&ccedil;&otilde;es e hist&oacute;rico dos pacientes, permitindo maior assertividade na assist&ecirc;ncia.</p></li>
              <br>
              <li><p>Reduz o tempo de fechamento das contas, aumentando o faturamento e evitando perdas financeiras, atrav&eacute;s de um alto controle aplicado nas regras de neg&oacute;cios dos conv&ecirc;nios e planos. Tamb&eacute;m reduz os percentuais de contas glosadas.</p></li>
              <br>
              <li><p>Assegura o correto ciclo de compras, eliminando os desperd&iacute;cios e aumentando a efici&ecirc;ncia na gest&atilde;o de materiais.</p></li>
              <br>
              <li><p>Aumenta o capital de giro e reduz custos com a otimiza&ccedil;&atilde;o do processo de compras baseado em n&iacute;veis de estoque e hist&oacute;rico de consumo.</p></li>
              </ul>
            
          </div>
        </div>
      </div>
      <div class="features">
        <div class="row">
          <div class="col-md-6">
            <div class="info">
              <div class="icon icon-success">
                <i class="material-icons">opacity</i>
              </div>
              <h4 class="info-title">Clínica</h4>
              <p>.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">add_comment</i>
              </div>
              <h4 class="info-title">Hospitalar</h4>
              <p>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-8 ml-auto mr-auto text-center">

      <strong>
      <div style="text-align: justify;" class="ff"><p>Os sistemas s&atilde;o direcionados para a demanda de cada
        institui&ccedil;&atilde;o de sa&uacute;de, de modo personalizado, permitindo a otimiza&ccedil;&atilde;o de
        recursos e proporcionando a tomada de decis&otilde;es, gerenciando informa&ccedil;&otilde;es cl&iacute;nicas,
        assistenciais, administrativas, financeiras e estrat&eacute;gicas, proporcionando uma gest&atilde;o mais
        eficiente e melhor atendimento para os pacientes.</p></div><br>
      <div style="text-align: justify;" class="ff"><p>Nosso objetivo &eacute; levar, aos nossos clientes, nossa expertise de quase
        30 anos de mercado. Com a implanta&ccedil;&atilde;o de metodologias e ferramentas de gest&atilde;o para obter
        a maximiza&ccedil;&atilde;o de resultados.</p></div>
      <div>&nbsp;</div>
    </strong>
    </div>


    <!-- Init Feature Caracteristica -->
    <div class="section text-center" id="carousel">

      <div class="features-5 text-center" style="background-image: url('./assets/img/bg9.jpg')">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Características</h2>
        </div>
        <div class="container">
          <div class="row">

            <div class="col-sm-4">
              <div class="info">
                <div class="icon icon-danger text-center">
                  <i class="material-icons">contact_phone</i>
                </div>
                <h4 class="info-title text-center">Atendimento</h4>
                <p>Agendamento Consultas e Exames
                  <br>
                  Telemarketing
                  <br>
                  Confirmação de Atendimento via SMS
                  <br>
                  Classificação de Atendimento via SMS
                  <br>
                  Internação
                  <br>
                  Painel de Chamada por Voz
                  <br>
                  Visualizalçao da Agenda via Aplicativo
                  <br>
                  Gestão de Procedimentos Seriados
                  <br>
                  Múltiplos Locais de Atendimento
                  <br>
                  Estatísticas de Atendimento
                </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">pregnant_woman</i>
                </div>
                <h4 class="info-title">Assistencial</h4>
                <p>Consultório Médico
                  <br>Prontuário Eletrônico
                  <br>Evolução Médica
                  <br>Prescrição Eletrônica
                  <br>Centro Cicúrgico
                  <br>Internação
                  <br>Solicitação, Acompanhamento<br> e Visualização de Exames
                </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">local_atm</i>
                </div>
                <h4 class="info-title">Faturamento</h4>
                <p>
                  Convênio e Particulares
                  <br>
                  Arquivo Eletrônico TISS
                  <br>
                  Faturamento Ambulatorial
                  <br>
                  SUS
                  <br>
                  Gestão de Glosas
                  <br>
                  Controle de Repasse Médico
                  <br>
                  Gestão de Recibos
                  <br>
                  Nota Fiscal de Serviço
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">note_add</i>
                </div>
                <h4 class="info-title">Suprimentos</h4>
                <p>
                  Gestão e Controle de Estoque
                  <br>
                  Média de Consumo
                  <br>
                  Curva ABC
                  <br>
                  Estoque Mínimo e Máximo
                  <br>
                  Controle por lote e Validade
                  <br>
                  Autorização de Dispensação via Biometria
                  <br>
                  Dispensação via Prescrição Eletrônica
                  <br>
                  Inventário
                  <br>
                  Gestão de Compras
                  <br>
                  Cotação por Email
                </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">description</i>
                </div>
                <h4 class="info-title">Financeiro</h4>
                <p>
                  Contas a Pagar
                  <br>
                  Contas a Receber
                  <br>
                  Controle Bancário
                  <br>
                  Fluxo Bancário
                  <br>
                  Fluxo de Caixa
                  <br>
                  Realiza Financeiro - DRE
                </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">loyalty</i>
                </div>
                <h4 class="info-title">Exames/Laboratório</h4>
                <p>
                  Acompanhamento Exames
                  <br>
                  Registro de Resultados e Laudos
                  <br>
                  Controle de Entrega
                  <br>
                  Estatisticas de Produção
                  <br>
                  Assinatura Eletrônica de Laudos
                  <br>
                  Painel de Exames Solicitados
                </p>
              </div>
            </div>
          </div>

          <div class="row">
           
            <div class="col-sm-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">credit_card</i>
                </div>
                <h4 class="info-title">Cartão Fidelidade</h4>
                <p>
                  Gestão de Contrato
                  <br>
                  Inadimplência
                  <br>
                  Emissão de Boleto
                  <br>
                  Emissão de Autorização de Atendimento
                  <br>
                  Análise de Viabilidade Contratual
                  
                </p>
              </div>
            </div>
            <div class="col-sm-4">
            </div>
          </div>


          <!--
        <div class="rowUai">
            <div class="columnUaiTwo">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">note_add</i>
                </div>
                <h4 class="info-title">Suprimentos</h4>
                <p>
                  Gestão e Controle de Estoque
                  <br>
                  Média de Consumo
                  <br>
                  Curva ABC
                  <br>
                  Estoque Mínimo e Máximo
                  <br>
                  Controle por lote e Validade
                  <br>
                  Autorização de Dispensação via Biometria
                  <br>
                  Dispensação via Prescrição Eletrônica
                  <br>
                  Inventário
                  <br>
                  Gestão de Compras
                  <br>
                  Cotação por Email
                </p>
              </div>
            </div>
            <div class="columnUaiTwo">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">description</i>
                </div>
                <h4 class="info-title">Financeiro</h4>
                <p>
                  Contas a Pagar
                  Contas a Receber
                  Controle Bancário
                  Fluxo Bancário
                  Fluxo de Caixa
                  Realiza Financeiro - DRE
                </p>
              </div>
            </div>            
          </div>
-->
        </div>
      </div>
    </div>
    <!-- End Feature Caracteristica -->



    <!-- Init Freature 2 -->
    <div *ngIf="showDiv" class="features-5 text-center" style="background-image: url('./assets/img/bg9.jpg')">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Modulos do Software</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger text-center">
                <i class="material-icons">code</i>
              </div>
              <h4 class="info-title text-center">Modulo_Nome</h4>
              <p>.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">format_paint</i>
              </div>
              <h4 class="info-title">Modulo Agenda</h4>
              <p>.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">dashboard</i>
              </div>
              <h4 class="info-title">Modulo Farmacia</h4>
              <p>.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">view_carousel</i>
              </div>
              <h4 class="info-title">Modulo Prescrição Medica</h4>
              <p>.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">access_time</i>
              </div>
              <h4 class="info-title">Modulo Faturamento</h4>
              <p>.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">attach_money</i>
              </div>
              <h4 class="info-title">Modulo Administrativo</h4>
              <p>.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">view_carousel</i>
              </div>
              <h4 class="info-title">Modulo Produto</h4>
              <p>.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">access_time</i>
              </div>
              <h4 class="info-title">Modulo Exames</h4>
              <p>.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">attach_money</i>
              </div>
              <h4 class="info-title">Modulo Financeiro</h4>
              <p>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>

  </div>
  <!-- Init Section Contato 
    <app-component-contato></app-component-contato>-->
  <!-- End Section Contato -->
</div>