<div class="page-header header-filter" data-parallax="true"
    style="background-image: url('../assets/img/clinica1.jpg');height: 200px">
    <div class="container">

    </div>
</div>

<div class="main main-raised">
    <div class="container">

        <br>
        <br>

        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Lista de Videos</h4>
                <p class="card-category">Boa Ideia</p>
            </div>
            <div class="card-content table-responsive table-full-width">
                <br>
                <div class="container">
                    <div class="row">
                        <div class="container">
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Categoria
                                </button>
                                <div class="dropdown-menu">
                                    <a *ngFor="let cat of listcategoria | async" class="dropdown-item"
                                        (click)="alterarCategoria(cat.nome)">{{cat.nome}}</a>
                                    <a class="dropdown-item" (click)="alterarCategoria('')">Todas</a>
                                    <!--<a class="dropdown-item">Todos</a>-->
                                </div>
                            </div>
                            <button style="float: right;" type="button" data-toggle="modal" data-target="#modalnovo"
                                class="btn btn-success">Novo Video</button>
                        </div>
                    </div>
                    <br>
                </div>

                <!-- TABELA DE VIDEOS -->

                <table class="table table-striped">
                    <thead class="text-danger">
                        <th class="text-center"></th>
                        <th class="text-center">Descrição</th>
                        <th class="text-center">Categoria</th>
                        <th class="text-center">Empresa</th>
                        <th class="text-center">Link</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let list of listvideos | async">

                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" class="btn btn-success btn-sm" data-toggle="modal"
                                    data-target="#modaleditar"
                                    (click)="preencherForm(list.id,list.descricao,list.link,list.empresa,list.categoria)">
                                    <i class="material-icons">edit</i>
                                </button>
                                ||
                                <button type="button" rel="tooltip" class="btn btn-danger btn-sm"
                                    (click)="deleteVideo(list.id)">
                                    <i class="material-icons">close</i>
                                </button>
                            </td>
                            <td class="text-center" style="vertical-align: middle">{{list.descricao}}</td>
                            <td class="text-center" style="vertical-align: middle">{{list.categoria}}</td>
                            <td class="text-center" style="vertical-align: middle">{{list.empresa}}</td>
                            <td class="text-center" style="vertical-align: middle">{{list.link}}</td>

                        </tr>


                    </tbody>
                </table>

                <!-- END TABELA DE VIDEOS -->

                <br><br>
            </div>
        </div>

        <br><br>


    </div>
</div>

<!-- MODAL NOVO VIDEO -->
<div class="modal fade " id="modalnovo" tabindex="-1" role="dialog" aria-labelledby="VideoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog"></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="VideoModalLabel">Novo Video</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="limparForm()" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="form-group">
                        <label for="video_descricao">Descricao</label>
                        <input class="form-control" formControlName="descricao" id="video_descricao"
                            name="video_descricao" placeholder="descricao do video" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Link</label>
                        <input class="form-control" formControlName="link" id="video_link" placeholder="link do video"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="video_categoria">Empresa</label>
                        <select class="form-control" formControlName="empresa" id="video_categoria">
                            <option>clinica</option>
                            <option>comercial</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="video_categoria">Categoria</label>
                        <select class="form-control" formControlName="categoria" id="video_categoria">
                            <option *ngFor="let cat of listcategoria | async">{{cat.nome}}</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-darnger btn-sm" (click)="limparForm()"
                            data-dismiss="modal">Fechar</button>
                        ||
                        <button type="submit" class="btn btn-success btn-sm" (click)="insertVideos();limparForm()"
                            data-dismiss="modal">Salvar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- END MODAL NOVO VIDEO -->


<!-- MODAL EDIT VIDEO -->
<div class="modal fade " id="modaleditar" tabindex="-1" role="dialog" aria-labelledby="VideoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog"></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="VideoModalLabel">Editar Video</h5>
                <button type="button" class="close" (click)="limparForm()" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="form-group">
                        <label for="video_descricao">Descricao</label>
                        <input class="form-control" formControlName="descricao" id="video_descricao"
                            name="video_descricao" placeholder="descricao do video" required>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Link</label>
                        <input class="form-control" formControlName="link" id="video_link" placeholder="link do video">
                    </div>
                    <div class="form-group">
                        <label for="video_empresa">Empresa</label>
                        <select class="form-control" formControlName="empresa" id="video_empresa">
                            <option>clinica</option>
                            <option>comercial</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="video_categoria">Categoria</label>
                        <select class="form-control" formControlName="categoria" id="video_categoria">
                            <option *ngFor="let cat of listcategoria | async">{{cat.nome}}</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-darnger btn-sm" (click)="limparForm()"
                            data-dismiss="modal">Fechar</button>
                        ||
                        <button type="button" class="btn btn-success btn-sm" (click)="updateVideos(); limparForm()"
                            data-dismiss="modal">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL NOVO VIDEO -->
